<!DOCTYPE html lang="@@lang">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- man:manifest -->
    <!-- img:favicon -->
    <link rel="stylesheet" type="text/css" href="/styles/above-fold-inline.css" inline>
    <!-- css:hamburger -->
    <!-- pre:font -->
    <!-- pre:font1 -->

    <link rel="icon" type="image/png" href="/images/icons/MDlogFavIco.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= htmlWebpackPlugin.options.icon144 %><"><!-- iPad Retina-->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= htmlWebpackPlugin.options.icon114 %><"><!--iPhone Retina -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= htmlWebpackPlugin.options.icon72 %><"><!-- iPad 1 e 2 -->
    <link rel="apple-touch-icon-precomposed" href="<%= htmlWebpackPlugin.options.icon %><"><!-- iPhone, iPod e Android 2.2+ -->

    <noscript id="deferred-styles">
        <!-- mob:mobile -->
        <!-- desk:desktop -->
    </noscript>

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Strata3",
        "url": "http://strata3.ie/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "http://strata3.ie/search/{search_term}",
            "query-input": "required name=search_term"
        }
    }

    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () {
            window.setTimeout(loadDeferredStyles, 0);
        });
        else window.addEventListener('load', loadDeferredStyles);
    </script>




    <script defer src="/__/firebase/5.7.0/firebase-app.js"></script>
    <script defer src="/__/firebase/5.7.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/5.7.0/firebase-database.js"></script>
    <script defer src="/__/firebase/init.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132390266-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-XXXXXXX-1');
    </script>

</head>

<header>
    <div class="slider">
        <img class="" src="/images/oranges.jpg" class="slider one">
        <img class="" src="/images/pears.jpg" class="slider two">
        <img class="" src="/images/bananas.jpg" class="slider three">
    </div>
    <div id="navWatch"></div>
    <nav>


        <div class="options left desktop">

            <div class="dropdown">
                <button class="dropbtn">Products
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/fruit">Fruit</a>
                    <a href="/vegetables">Vegetables</a>
                    <a href="/harvest">Harvest</a>
                    <a href="/calendar">Calendar</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">About
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/people">Our Company</a>
                    <a href="/approach">Approach</a>
                    <a href="/facilities">Facilities</a>
                </div>
            </div>
        </div>
        <a href="/home" class="logo" title="Strata3 Home" aria-label="Strata3 Home" id="logo">
            <img src="/images/lebfruit.jpg">
        </a>
        <div class="options right desktop">

            <div class="dropdown">
                <button class="dropbtn">News
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/Digital-strategy">Digital Strategy</a>
                    <a href="/Approach">UX & Design</a>
                    <a href="/Development">Development</a>
                    <a href="/Innovation">Innovation</a>
                    <a href="/Analytics">Analytics & Insight</a>
                    <a href="/Technology">Sponsorship</a>
                    <a href="/Project-management">Project Management</a>
                    <a href="/Hosting">Hosting</a>
                    <a href="/Support">Support</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Contact
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="People">People</a>
                    <a href="Approach">Approach</a>
                    <a href="Awards">Awards</a>
                    <a href="Partners">Partners</a>
                    <a href="CSR">CSR</a>
                    <a href="Sponsorship">Sponsorship</a>
                    <a href="Sponsorship">Careers</a>
                </div>
            </div>
        </div>






        </div>
        <button class="hamburger hamburger--vortex" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        </button>

    </nav>

    <div class="welcome-text">
        <h1>Fruit & Vegetable Exporters</h1>
        <a href="">Learn More</a>
    </div>

    <a class="arrow-down" href="#tagLine">&#10142;</a>
</header>

<section id="tagLine">
    <h1>We are devoted to our mission of supplying you with the finest and freshest Lebanese products</h1>

</section>
<section id="ourWork">
    <h1 >Our Products<span class="bottom-border"></span></h1>
    <div class="tab">
        <h1>Fruit</h1>
        <p>Harvest</p>
    </div>
    <div class="tab ">
        <h1>Vegetables</h1>
        <p>Harvest</p>
    </div>
    <div class="tab ">
        <h1>Harvest</h1>
        <p>Title</p>
    </div>
    <div class="tab ">
        <h1>Whats in Season</h1>
        <p>Consulting</p>
    </div>

    <a href="">All Products</a>
</section>
<section id="services">
    <h1>We are the center for storing packing and sending the fresh</h1>
    <p>We have state of the art cooling rooms to ensure imported and goods for export are kept in the safest and healthiest ways possible.
        We will stay in touch with our deliveries to maintain high quality and customer service</p>
    <a>View our services</a>
</section>
<section id="blog">
    <h1 >News<span class="bottom-border"></span></h1>
    <article>
        <div class="main" data-img="/images/harvest2.jpg"></div>
        <div class="text">
            <h2>Fresh Harvest of 2019</h2>
            <span class="bottom-border left"></span>
            <b>by Brahim</b>
            <p class="date-time">01.01.2019 - 2 min read</p>
            <p>We have a fresh selection of fruits and vegetables from our latest harvest<a class="more" href=""> Read more...</a></p>
        </div>
    </article>
    <article>
        <div class="main" data-img="/images/safety.jpg"></div>
        <div class="text">
            <h2>Food Safety and Quality</h2>
            <span class="bottom-border left"></span>
            <b>by Abood</b>
            <p class="date-time">09.11.2018 - 2 min read</p>
            <p>We are determined to always meet Quality and Safety testing.<a class="more" href=""> Read more...</a></p>
        </div>
    </article>
    <article>
        <div class="main" data-img="/images/package.jpg"></div>
        <div class="text">
            <h2>Packaging Process</h2>
            <span class="bottom-border left"></span>
            <b>by Hossam</b>
            <p class="date-time">07.10.2018 - 3 min read</p>
            <p>A brief guide to our packaging process <a class="more" href=""> Read more...</a></p>
        </div>
    </article>
    <a href="">Read More</a>
</section>
<section id="workWithUs">
    <h1>Let's start working together</h1>
    <a href="">Get in Touch</a>
</section>

<footer>
    <div class="contact">
        <b>Contact</b>
        <p>Address 1.</p>
        <p>Street 2</p>
        <p>City, Country</p>
    </div>
    <div class="number">
        <p class="tel"><a href="">+35 1 671 8806</a></p>
        <p class="email"><a href=""> info@lebanesefruits.com</a></p>
    </div>
    <div class="follow">
        <b>Follow Us</b>

        <a href="">Facebook</a>
        <a href="">Twitter</a>
        <a href="">Linkedin</a>


    </div>

</footer>
<script defer src="/scripts/IntersectionObserver.js"></script>
<aside id=""></aside>
</body>
</html>